<ion-header>
  <ion-toolbar>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="favorites.length; else emptyList">
    <ion-item
      *ngFor="let name of favorites"
      (click)="goToDetail(name)"
      detail
    >
      <ion-label>{{ name | titlecase }}</ion-label>
    </ion-item>
  </ion-list>

  <ng-template #emptyList>
    <ion-text color="medium" class="ion-text-center">
      <p>Nenhum Pokémon adicionado aos favoritos ainda.</p>
    </ion-text>
  </ng-template>
</ion-content>

